/* .header {
  height: 10vh;
  font-size: 1rem;
} */

.logo {
  max-width: 80px;
  height: auto;
}

.newTaskButton {
  top: 85%;
  left: 90%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  cursor: pointer;
  z-index: 2;
}
.newTaskButton img {
  height: 50px;
}
.taskCreatorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.taskCreatorWindow {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 700px;
  width: 700px;
  background-color: grey;
}
.nameContainer {
  display: flex;
  flex-direction: column;
}
.categoryContainer {
  display: flex;
  flex-direction: column;
}
.datePickerContainer {
  display: flex;
  flex-direction: column;
}
.dayContainer {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background-color: grey;
  margin-left: 150px;
  height: 90vh;
}
.dayContainer::-webkit-scrollbar,
.dayContainer::-webkit-scrollbar-thumb {
  display: none;
}

.dayPreview {
  height: 100%;
  background-color: lightgrey;
  border-bottom: black 1px solid;
}
.dayHeader {
  background-color: aquamarine;
}
.hourContainer {
  display: flex;
  gap: 200px;
}
.startHour {
  display: flex;
  flex-direction: column;
}
.endHour {
  display: flex;
  flex-direction: column;
}
.fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.dateTitle {
  background-color: rgb(70, 70, 70);
  color: white;
  padding-left: 10px;
  font-size: 1.5rem;
}
.dateTitle p {
  display: block;
  margin-bottom: 0;
}

.loadingTasks {
  font-size: 2rem;
  margin-bottom: 0;
  color: white;
}
.loaderContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.task {
  background-color: #3498db;
  color: white;
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profileContainer {
  height: 90vh;
  background-color: rgb(50, 50, 50);
}
